.table {
  border-collapse: separate;
  border-spacing: 0;
}

.table th:first-child {
  border-radius: 5px 0 0 0;
}

.table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  padding: 10px 0;
  white-space: nowrap;
}

.table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: 1px solid #a8b7c5;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
  white-space: nowrap;
}

.table td:last-child {
  border-right: 1px solid #a8b7c5;
}

.table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.table tr.currentGame td {
  animation: current-game-highlight 1s steps(1, end) infinite;
  box-shadow:
    0 3px 0 #ff9800 inset,
    0 -3px 0 #ff9800 inset;
}

.table tr.currentGame td:first-child {
  position: relative;
  box-shadow:
    3px 0 0 #ff9800 inset,
    0 3px 0 #ff9800 inset,
    0 -3px 0 #ff9800 inset;
}

.table tr.currentGame td:last-child {
  box-shadow:
    -3px 0 0 #ff9800 inset,
    0 3px 0 #ff9800 inset,
    0 -3px 0 #ff9800 inset;
}

.currentCourtLabel {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  min-width: 1.5em;
  color: #ff5722;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@keyframes current-game-highlight {
  50% {
    box-shadow: none;
  }
}

@media print {
  .table td {
    background: #fff;
    box-shadow: none;
    animation: none;
  }

  .table tr.currentGame td {
    background: #fff;
    box-shadow: none;
  }

  .currentCourtLabel {
    display: none;
  }
}
